.dashboardAdmin {
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    padding: 10px 10px;
    width: 80%;
    background-color: #ebbf85;
    border-radius: 10px;
    margin: auto;
    font-family: "AbeeZee", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }

  .dashboard {
    .dashboard-category {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 10px 10px;
      width: 70%;
      background-color: #ebbf85;
      opacity: 90%;
      border-radius: 10px;
      margin: auto;
      font-family: "AbeeZee", sans-serif;
      margin-bottom: 3rem;
      text-align: center;
      color: black;
      font-size: 1.5rem;
    }

    .dashboard-info {
      display: flex;
      justify-content: space-between;

      .dashboard-mail,
      .dashboard-role {
        background-color: #ebbf85;
        box-shadow: 0 0 10px 0 rgba(52, 42, 42, 0.1);
      }

      .dashboard-mail {
        display: flex;
        flex-direction: column;
        margin-left: 15rem;
        border-radius: 10px;
        padding: 10px 60px;
        font-size: 1rem;

        .mail {
          list-style: none;
        }

        .remove-account {
          padding: 10px 20px;
          margin-top: 1rem;
          border-radius: 10px;
          border: none;
          font-size: 0.9rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          color: black;
        }
      }

      .dashboard-role {
        display: flex;
        flex-direction: column;
        margin-right: 15rem;
        padding: 10px 50px;
        border-radius: 10px;
        font-size: 1rem;

        .role {
          list-style: none;
        }
        .add-admin,
        .remove-admin {
          padding: 10px 20px;
          margin-top: 1rem;
          border-radius: 10px;
          border: none;
          font-size: 0.9rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .dashboardAdmin {
    display: flex;
    flex-direction: column;
    text-align: center;
    .title {
      font-size: 2rem;
    }

    .dashboard-info {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
}

@media screen and (max-width: 650px) {
  .dashboardAdmin {
    .dashboard {
      .dashboard-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .dashboard-mail,
        .dashboard-role,
        .dashboard-action {
          width: 80%;
        }

        .dashboard-mail,
        .dashboard-role,
        .dashboard-action {
          padding: 10px 10px;
          font-size: 1.2rem;
          border-radius: 10px;
          margin-bottom: 1rem;
        }

        .dashboard-mail,
        .dashboard-role {
          align-items: center;
        }

        .dashboard-mail {
          margin-left: 0;
        }

        .dashboard-role {
          margin-right: 0;
        }
      }
    }
  }
}
