@import "./variables";

.navbarwelcome {
  display: flex;
  background-color: transparent;
  justify-content: center;
  font-family: $font-family;
  font-size: 1.3rem;
  color: $gold;
  display: flex;
  gap: 2rem;

  a {
    margin-top: 5rem;
    text-decoration: none;
    color: $gold;
  }
}
