@import "./variables";

@media screen and (max-width: 750px) {
  .series {
    .cross-bar {
      padding: 10px 10px;
      width: 80%;
      background-color: $gold;
      border-radius: 10px;
      margin: auto;
      font-family: $font-family;
      margin-bottom: 3rem;
      text-align: center;
      margin-top: 3rem;
      color: black;
      font-size: 1.5rem;
    }
  }
}
